<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main>
    <form action="/signup" method="post">
        <fieldset>
            <label for="username"></label>
            <input type="text" name="username" id="username">

            <label for="firstname"></label>
            <input type="text" name="firstname" id="firstname">

            <label for="password"></label>
            <input type="password" name="password" id="password">

            <input type="submit">
        </fieldset>
    </form>
</main>
</body>
</html>